# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/test/node_modules
/test/.pnp
/test/.pnp.js

# testing
/test/coverage

# production
/test/build

# misc
/test/.DS_Store
/test/.env.local
/test/.env.development.local
/test/.env.test.local
/test/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
