# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/reactjs-app/node_modules
/reactjs-app/.pnp
/reactjs-app/.pnp.js

# reactjs-apping
/reactjs-app/coverage

# production
/reactjs-app/build

# misc
/reactjs-app/.DS_Store
/reactjs-app/.env.local
/reactjs-app/.env.development.local
/reactjs-app/.env.reactjs-app.local
/reactjs-app/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
